<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="com.example.getlocation.GetLocationPlugin"
    version="0.0.1">
    <name>GetLocationPlugin</name>
    <description>GetLocationPlugin Description</description>
    <author>jacky</author>
    <license>Apache 2.0 License</license>
    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
    <js-module src="www/plugins/com.example.getlocation.GetLocationPlugin/www/intent.js" name="GetLocationPlugin">
        <clobbers target="window.GetLocationPlugin" />
    </js-module>
    <platform name="android">
        
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="GetLocationPlugin">
				<param name="android-package" value="com.example.getlocation.GetLocationPlugin" />
			</feature>
        </config-file>
		
		<source-file src="src/android/com/example/getlocation/GetLocationPlugin.java" target-dir="src/com/example/getlocation" />
		<source-file src="src/android/com/amap/map3d/demo/geocoder/GeocoderActivity.java" target-dir="src/com/amap/map3d/demo/geocoder" />
		<source-file src="src/android/com/amap/map3d/demo/location/LocationSourceActivity.java" target-dir="src/com/amap/map3d/demo/location" />
		<source-file src="src/android/com/amap/map3d/demo/util/ToastUtil.java" target-dir="src/com/amap/map3d/demo/util" />
		<source-file src="src/android/com/amap/map3d/demo/view/FeatureView.java" target-dir="src/com/amap/map3d/demo/view" />
		<source-file src="libs/AMap_3DMap_V2.3.0.jar" target-dir="libs" />
		<source-file src="libs/AMap_Services_V2.3.0.jar" target-dir="libs/" />
		<source-file src="libs/Android_Location_V1.3.0.jar" target-dir="libs/" />
		<source-file src="libs/armeabi/libamapv304.so" target-dir="libs/armeabi" />
		<source-file src="libs/armeabi/libamapv304ex.so" target-dir="libs/armeabi" />
		
		<source-file src="res/layout/geocoder_activity.xml" target-dir="res/layout" />
		<source-file src="res/layout/locationsource_activity.xml" target-dir="res/layout" />
		
        <config-file target="AndroidManifest.xml" parent="/*">
		
			
            <uses-permission android:name="android.permission.INTERNET" />
			<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
			<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
			<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
			<uses-permission android:name="android.permission.READ_PHONE_STATE" />
			<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
			<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
			<uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
			<uses-permission android:name="android.permission.WRITE_SETTINGS" />
			
			
        </config-file>
		
		<config-file target="AndroidManifest.xml" parent="/manifest/application">
			<meta-data android:name="com.amap.api.v2.apikey" android:value="210bde4cf97f186b529cbbba81d804d0" />
			<activity
            android:name="com.amap.map3d.demo.location.LocationSourceActivity"
            android:label="locationsource_demo"
            android:theme="@android:style/Theme.NoDisplay"
            android:screenOrientation="portrait" />
       
        	<activity
            android:name="com.amap.map3d.demo.geocoder.GeocoderActivity"
            android:label="geocoder_demo"
            android:theme="@android:style/Theme.NoDisplay"
            android:screenOrientation="portrait" />
		</config-file>
    </platform>
</plugin>